/* **** **** **** **** **** **** **** **** //

this is my stylesheet! 
======================

Useful css syntax notes:

- Tag:

    SELECTOR{...}

- ID:

    #SELECTOR{...}

  IDs are great for when you have exactly one element that should receive a certain kind of styling.

- Class:

    .SELECTOR{...}
   
  Classes are useful when you have a bunch of elements that should all receive the same styling. Rather than applying the same rules to several selectors, you can simply apply the same class to all those HTML elements, then define the styling for that class in the CSS tab.

- Pseudo-class selector:

    SELECTOR:PSEUDO-CLASS{...}

  A pseudo-class selector is a way of accessing HTML items that aren't part of the document tree (remember the tree structure we talked about earlier?). For instance, it's very easy to see where a link is in the tree. But where would you find information about whether a link had been clicked on or not? It isn't there!

  Pseudo-class selectors let us style these kinds of changes in our HTML document. For example, we saw we could change a link's text-decoration property to make it something other than blue and underlined. Using pseudo selectors, you can control the appearance of unvisited and visited links—even links the user is hovering over but hasn't clicked!

  e.g. a:hover{...}

// **** **** **** **** **** **** **** **** */

/* 
 *** general ***
 */

body{
  background-color: #eeeeee;
}

body div{
  display: inline-block;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:visited{
  color: darkred;
}

/*
 *** PUBLICATION ***
 */

.publication{
    font-family: "Times New Roman", Times, serif;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.publication li{
    list-style-type: none;
}

/*
 *** PROF-PIC ***
 */

 .prof-pic img{
    /*padding-left: 20pt;*/
 }

/*
 *** NAV ***
 */

.nav{
    border-bottom: solid 1px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.nav ul{
    background-color: gray;
    margin: 0;
}

.nav li{
    /*display: inline-block;*/
    vertical-align: center;
    float: center;
    padding: 10px;
    background-color: gray;
}

/*
.nav li:hover{
    background-color: black;
}
*/

.nav li a{
     font-family: Arial, sans-serif;
     font-size: 18pt;
     font-weight: bold;
     font-color: black;
     text-decoration: none;
     color: black;
     margin: 0;
     padding: 0;
}

/*
.nav li a:hover{
     background-color: black;
     color: gray;
}
*/

/*
 *** SIDEBAR ***
 */

.sidebar{
  background-color: blue;
}

/*
 *** MAIN ***
 */

.main{
    display: inline-block;
    background-color: white;
    padding: 5pt;
    width: 50%;
}


.main p {
    font-family: Times, serif;
}

.main h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.main h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.main h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.main li {
   font-family: Arial, Helvetica, sans-serif;
}


/*
 DEBUG/SANITY
*/

*{
    border: 1px dashed;
}