/* ************************************************************
 * Question Area 
 * ************************************************************
 */
 #fq-instructions{
 	margin: 5pt;
 }
 #fq-instructions ul{
 	list-style-type: initial;
 	list-style-position: outside;
 	margin: 5pt;
 	padding: 5pt;
 }
 #fq-instructions ul li{
 	padding-bottom: 5pt;
 }
/* ************************************************************
 * Question Area 
 * ************************************************************
 */
#question-area{
	width: 100%;
}
/* ************************************************************
 * Question Text
 * ************************************************************
 */
#question-text{}
/* ************************************************************
 * Option Area
 * ************************************************************
 */
#option-area{
	width: 100%;
}
/* ************************************************************
 * Button Row
 * ************************************************************
 */
#button-row{}
/* ************************************************************
 * Score Row
 * ************************************************************
 */
#score-row{}
/* ************************************************************
 * Answer Area
 * ************************************************************
 */
#answer-area{
	width: 100%;
}